/* Predefined variables */
:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    background: var(--Almost-White);
    color: var(--Almost-Black);
    font-family: 'Epilogue', sans-serif;
    line-height: 1.6;
}

/* Images */
img {
    max-width: 80%;
    display: block;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.header {
    background: var(--Almost-White);
    padding: 2rem 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--Medium-Gray);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 14px;
}

.nav-links a:hover {
    color: var(--Almost-Black);
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    background: white;
    list-style: none;
    padding: 2rem;
    margin: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    min-width: 170px;
    z-index: 1000;
    display: none;
}

.dropdown-menu li {
    margin-bottom: 0.8rem;
}

.nav-auth {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-auth .btn {
    border: 2px solid var(--Almost-Black);
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
}

.nav-auth a {
    text-decoration: none;
    color: var(--Almost-Black);
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 100px;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.hero-text h1 {
  font-size: 70px;
  font-weight: 800;
  max-width: 800px;
  width: 95%;
  margin-bottom: 1rem;
}

.hero-text p {
  color: var(--Medium-Gray);
  font-size: 20px;
  margin-bottom: 3rem;
  width: 80%;
}

.btn-dark {
  border: 2px solid var(--Almost-Black);
  color: var(--Almost-Black);
  padding: 0.6rem 1.8rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  margin-bottom: 3rem;
}

.client-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
